@media only screen and (min-width: 1000px) {

    #bottom {
        border-top-left-radius: 20%;
        /* border-top-right-radius: 60px;  */
        background-color: rgb(48, 48, 48);
        height: 200px;
    }
    .bottom{
        margin: auto;
        width: 400px;
        display: flex;
        border-top-left-radius: 60px;
        justify-content: space-around;
        
    }
    .social{
        transition: margin .5s;
    }
    .social:hover{
        margin-top: 10px;
        margin-left: -10px;
    }
    h3 {
        font-size: 30px;
        color: white;
    }
    .email{
        color: whitesmoke;
        margin-top: 30px;
        margin-left: 42%;
    }
    .mg{
        color: rgb(54, 54, 54);
    }
}
/* ***************************************************** */

@media only screen and (max-width: 999px) {
    #bottom {
        border-top-left-radius: 20%;
        /* border-top-right-radius: 60px;  */
        background-color: rgb(48, 48, 48);
        height: 150px;
    }
    .bottom{
        margin: auto;
        margin-top: 40px;
        width: 200px;
        display: flex;
        border-top-left-radius: 60px;
        justify-content: space-around;
        
    }
    .social{
        margin-top: 20px;
        transition: margin .5s;
    }
    .social:hover{
        margin-top: 10px;
        margin-left: -10px;
    }
    .mg{
        color: darkgray;
    }
    .email{
        color: whitesmoke;
        margin-top: 30px;
        margin-left: 30%;
    }
}